<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RH meeting 2016.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DF4FD081D43CA50007C8DC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DF4FD1C1D43CA52007C8DC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DF4FD271D43CA52007C8DC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
